.user-card {
  height: 100px;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.user-card-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  border: 1px solid black;
  padding-right: 10px;
}

.user-card-name {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.user-card-name p {
  position: absolute;
  bottom: 0;
  right: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.user-pfp {
  width: auto;
  height: 100%;
}

.user {
  margin-left: 20px;
}

.user-bio {
  border: 1px solid black;
  width: 75%;
}

.user-recent-posts {
  width: 75%;
}

button {
  margin-left: 100px;
}
